<p>
  <strong>Nickname:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.profile.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.profile.gender %>
</p>

<!-- 他のフィールドをここに表示... -->

<p>
  <strong>Recommended partner:</strong>
  <%= @user.profile.recommendation.text %>
</p>
